html{ 
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;


}

img{
    max-width: 100%;
    height: auto;

}
a{
    text-decoration: none;
}


input[type="text"]:focus {
    border:1px solid #D6D9DC;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(146, 97, 97, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-family: 'Gorditas', serif;
}

footer{
    max-width: 300px;
    margin: auto;
    opacity: 0.8;
    text-align: center;
    margin-top: 20px;
    color: rgb(203, 203, 203);
    background-color: rgb(161, 161, 161);
    
}


header{
    max-width: 940px;
    margin: auto;
    
    text-align: left;
   
    opacity: 0.8;
    font-family: 'Gorditas', serif;
    font-weight: 400;
    font-size: xx-large;
    color: rgb(203, 203, 203);



}

#move{
  animation: head 5s linear infinite alternate;
}

@keyframes head {
  0%{

    transform: translate(0,0);
}

50%{
    transform: translate(20px,0px);
}

75%{
    transform: translate(0px,0px);
}

100%{
    transform: translate(20px,0px);
}

}


body{
  background-image: url("images/light.jpg");
  
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: auto;
    height: 100%;
}


main{
    max-width: 300px;
    min-width: 300px;
    margin: auto;
    padding: 20px;

    height: 100%;
    border-radius: 25px;
    background-color: rgb(161, 161, 161);
    opacity: 0.8;

     
}



form{
  display: flex;
  padding-left: 25px;
  flex-direction: column;
  max-width: 250px;
  
}


label{
    font-family: 'Roboto Slab', serif;
    padding-top: 30px;
}


.hidden {
    visibility: hidden;
    opacity: 0;
  }



#overlay{
    position: fixed;
    max-width: 500px;
    justify-items: center;
    margin: auto;
    padding: 20px;
    border-radius: 5%;
    top: 300px;
    left: 200px;
    right: 200px;
   
    background-color: rgb(219, 245, 236);

    font-family: 'Gorditas', serif;
    font-weight: 400;
    font-size: larger;
    
  }




  
  
  


